.note_main{
    width: 30vmin;
    height: 65px;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 6px;
    box-shadow: #000000c2 2px 2px 3px;
    padding: 5px;
    margin: 10px;
    color: black;
    cursor: pointer;
}
.note_main:hover{
    color: #0c3333;
}
.note__title{
    font-weight: bold;
}
