.form__main{
    margin-top: 20px;
    margin-left: 18%;
    height: 84vmin;
    width: 80vmin;
    position: absolute;
    z-index: 2;
    display: none;
    background-color: aliceblue;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 50px;
    border: #0c3333 2px solid;
    border-radius: 10px;
    box-shadow: #000000a2 3px 3px 4px;
}
.form__main>textarea{
    width: 90%;
    border-radius: 3px;
    margin: 10px;
}
.form__new__text{
    height: 60%;
}