.app{
    display: flex;
}
.sort__container{
    display: -webkit-box;
    justify-content: center;
    position: absolute;
    background-color: #021525;
    height: 60px;
    padding-top: 10px;
    width: -webkit-fill-available;
    padding-left: 40px;
}